<template>
  <div>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Filter {{ $store.state.msg}}</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex" role="search" v-on:submit="filter($event)">
              <input class="form-control me-2" type="network" placeholder="Network" aria-label="network" v-model="network">
              <input class="form-control me-2" type="type" placeholder="Type" aria-label="type" v-model="type">
              <input class="form-control me-2" type="message" placeholder="Message" aria-label="message" v-model="message">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
  </div>
</template>

<script>

import datos from '../../public/posts_data.json'

export default {
  name: 'FilterSidebar',
  data () {
    return {
      network: '',
      type: '',
      message: '',
      tempArray: []

    }
  },
  methods: {
    filter (event) {
      event.preventDefault()
      this.tempArray = []
      // Buscamos en el JSON los filtros aplicados
      for (let index = 0; index < datos.length; index++) {
        const element = datos[index]
        // Network Filter
        if (element.network === this.network || element.type === this.type || element.impressions === this.impressions) {
          this.tempArray.push(element)
          // this.$store.state.results = element
          // this.$store.dispatch('aplyFilter')
        }

        this.$store.state.results = this.tempArray
      }
    }
  }
}
</script>
