<template>
  <div>
    <br />
    <div class="container-fluid">
      <div class="row">

        <!-- <div class="col-md-6"><center><button class="btn btn-info" type="button" @click="showGraph(1)">Show Impression by Type</button></center></div>
        <div class="col-md-6"><center><button class="btn btn-info" type="button" @click="showGraph(2)">Show Impression by Network</button></center></div> -->

        <div class="col-md-6">
          <h2>Impressions By media Types</h2>
          <canvas id="mediaTypes" width="50" height="50"></canvas>
          <br /><br />
        </div>
        <div class="col-md-6">
          <h2>Impressions By Networks</h2>
          <canvas id="mediaNetworks" width="50" height="50"></canvas>
          <br /><br />
        </div>
        <br><br><br>
      </div>
    </div>
  </div>
</template>

<script>
import Chart from 'chart.js/auto'

import datos from '../../public/posts_data.json'

export default {
  name: 'PieChart',
  data () {
    return {
      arrayType: [],
      arrayTypeCont: [],
      arrayTypeNetwork: [],
      arrayTypeContNetwork: []
    }
  },
  methods: {
    // showGraph (tg) {
    //   if (tg === 1) {
    //     this.$store.showGraph1 = true
    //     this.$store.showGraph2 = false
    //   } else {
    //     this.$store.showGraph2 = true
    //     this.$store.showGraph1 = false
    //   }
    // }
  },
  mounted () {
    let contadorVideos = 0
    let contadorImagenes = 0

    let contadorInstagram = 0
    let contadorFacebook = 0
    let contadorTwitter = 0

    // const totalPost = datos.length

    for (let index = 0; index < datos.length; index++) {
      const element = datos[index]

      // Creamos un array con los tipos de post que no existen
      if (this.arrayType.indexOf(element.type) === -1) {
        this.arrayType.push(element.type)
      }

      // Creamos un array con los tipos de redes que no existen
      if (this.arrayTypeNetwork.indexOf(element.network) === -1) {
        this.arrayTypeNetwork.push(element.network)
      }

      // Incrementamos cantidades según el contexto(red o tipo)
      if (element.type === 'video') {
        contadorVideos += element.impressions
      }
      if (element.type === 'image') {
        contadorImagenes += element.impressions
      }

      if (element.network === 'instagram') {
        contadorInstagram += element.impressions
      }
      if (element.network === 'facebook') {
        contadorFacebook += element.impressions
      }
      if (element.network === 'twitter') {
        contadorTwitter += element.impressions
      }
    }

    this.arrayTypeCont[0] = contadorVideos
    this.arrayTypeCont[1] = contadorImagenes

    this.arrayTypeContNetwork[0] = contadorFacebook
    this.arrayTypeContNetwork[1] = contadorInstagram
    this.arrayTypeContNetwork[2] = contadorTwitter

    const mediaTypes = document.getElementById('mediaTypes').getContext('2d')
    const mediaNetworks = document.getElementById('mediaNetworks').getContext('2d')

    // eslint-disable-next-line no-unused-vars
    const myChart = new Chart(mediaTypes, {
      type: 'doughnut',
      data: {
        labels: this.arrayType,
        datasets: [
          {
            label: '# of types',
            data: this.arrayTypeCont,
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 3
          }
        ]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    })

    // eslint-disable-next-line no-unused-vars
    const myChart2 = new Chart(mediaNetworks, {
      type: 'doughnut',
      data: {
        labels: this.arrayTypeNetwork,
        datasets: [
          {
            label: '# of networks',
            data: this.arrayTypeContNetwork,
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 3
          }
        ]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    })

    // myChart()
    // myChart2()
  }
}
</script>
