<template>
  <div>
    <br>
    <div class="col-md-12">
      <div class="card-body" id="mainCard">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" @click="sort('date')">Date</th>
              <th scope="col" @click="sort('copy')">Copy</th>
              <th scope="col" @click="sort('network')">Network</th>
              <th scope="col" @click="sort('type')">Type</th>
              <th scope="col" @click="sort('impressions')">Impressions</th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in sortedPost" v-bind:key="item.date">
              <th scope="row">{{item.date}}</th>
              <td>{{item.copy}}</td>
              <td v-if="item.network === 'facebook'" ><img src="../../public/networksIcons/facebook.png"></td>
              <td v-if="item.network === 'instagram'" ><img src="../../public/networksIcons/instagram.png"></td>
              <td v-if="item.network === 'twitter'" ><img src="../../public/networksIcons/twitter.png"></td>
              <td>{{item.type}}</td>
              <td>{{item.impressions}}</td>
              <td><button  class="btn btn-info" @click="getDataToEdit(index, item.date, item.copy, item.network, item.type , item.impressions)" data-toggle="modal" data-target="#modalEdit">Edit</button></td>
            </tr>
          </tbody>
        </table>
        <br>
        <center><button class="btn btn-info btn-lg btn-block" @click="printPdf()">Download PDF</button></center>
        <br>
        <div id="formEdit">
          <div class="card" v-if="showForm">
            <div class="card-body">
              <h4>Edit Post</h4>
              <form action="#">
                <label>Date</label>
                <input type="text" class="form-control" v-model="dateEdit">
                <label>Copy</label>
                <input type="text" class="form-control" v-model="copyEdit">
                <label>Network</label>
                <input type="text" class="form-control" v-model="networkEdit">
                <label>Type</label>
                <input type="text" class="form-control" v-model="typeEdit">
                <label>Impressions</label>
                <input type="number" class="form-control" v-model="impressionsEdit">
                <br>
                <center><button class="btn btn-success btn-lg btn-block" @click="SaveChanges()" type="button">Save Changes</button></center>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import { jsPDF } from 'jspdf'
import autoTable from 'jspdf-autotable'
// eslint-disable-next-line new-cap
const doc = new jsPDF()

export default {
  name: 'PostsTable',
  props: ['datos2'],
  data () {
    return {
      currentSort: 'date',
      currentSortDir: 'asc',
      data: this.$store.getters.loadPost,
      idEdit: '',
      dateEdit: '',
      copyEdit: '',
      networkEdit: '',
      typeEdit: '',
      impressionsEdit: 0,
      showForm: false
    }
  },
  methods: {
    sort: function (s) {
      // if s == current sort, reverse
      if (s === this.currentSort) {
        this.currentSortDir = this.currentSortDir === 'asc' ? 'desc' : 'asc'
      }
      this.currentSort = s
    },
    getDataToEdit: function (e, date, copy, network, type, impressions) {
      this.showForm = true
      this.idEdit = e
      this.dateEdit = date
      this.copyEdit = copy
      this.networkEdit = network
      this.typeEdit = type
      this.impressionsEdit = impressions
      const offsetTop = document.getElementById('formEdit').offsetTop
      scroll({
        top: offsetTop
      })
    },
    printPdf: function () {
      const tempArray = []

      // eslint-disable-next-line array-callback-return
      this.$store.state.results.map((item) => {
        tempArray.push([item.date, item.copy, item.network, item.type, item.impressions])
      })

      doc.text('Post Report', 10, 10)

      autoTable(doc, {
        head: [['Date', 'Copy', 'Network', 'Type', 'Impressions']],
        body: tempArray
      })
      doc.save('PostReport.pdf')
    },
    SaveChanges: function () {
      this.showForm = false
      alert('Great!, You have successfully saved the changes to the post')
      // eslint-disable-next-line no-unused-expressions
      this.$store.getters.loadPost[this.idEdit].date = this.dateEdit
      this.$store.getters.loadPost[this.idEdit].copy = this.copyEdit
      this.$store.getters.loadPost[this.idEdit].network = this.networkEdit
      this.$store.getters.loadPost[this.idEdit].type = this.typeEdit
      this.$store.getters.loadPost[this.idEdit].impressions = this.impressionsEdit

      const offsetTop = document.getElementById('mainCard').offsetTop
      scroll({
        top: offsetTop
      })
    }
  },
  computed: {
    sortedPost: function () {
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      return this.$store.getters.loadPost.sort((a, b) => {
        let modifier = 1
        if (this.currentSortDir === 'desc') modifier = -1
        if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier
        if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier
        return 0
      })
    }
  }
}
</script>
